

@keyframes study-anim {
    0% {transform: translate(0px,0px);}
    10% {transform: translate(0.1rem,0.2rem);}
    20% {transform: translate(0.2rem,-0.2rem);}
    30% {transform: translate(0.3rem,0.2rem);}
    40% {transform: translate(0.4rem,-0.2rem);}
    50% {transform: translate(0.5rem,0px);}
    60% {transform: translate(0.4rem,-0.2rem);}
    70% {transform: translate(0.3rem,0.2rem);}
    80% {transform: translate(0.2rem,-0.2rem);}
    90% {transform: translate(0.1rem,0.2rem);}
    100% {transform: translate(0px,0px);}
}

@keyframes pause-anim {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-90deg);}
    50% {transform: rotate(-180deg);}
    75% {transform: rotate(-270deg);}
    100% {transform: rotate(-360deg);}
}

#Dots {
    animation-duration: 1s;
    animation-name: null;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.operation-button {
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}